@font-face {
    font-family: Buglego;
    src: url(fonts/Buglego-Regular.otf);
}
html{
height: 100%;
  }
  
body{
height: 100%;
display: flex;
flex-direction: column;
margin: 0;
background-color: rgb(56, 108, 185);
  }

body{
    --item-img-width: 35vw;;
    --item-img-height: 25vw;
    --items-title-height: calc(var(--item-img-height) * 0.33);
    --details-image-head-width: 100%; 
    --details-image-head-height: 100%;
}
  
.class-header-logo{
   display: block;
   text-align: center;
   font-size: 100%;
   text-transform: uppercase;
   background-color: rgb(56, 108, 185);
   border:solid 3px black;
   font-family: Buglego;
  }
  
.main-class{
   display: flex;
   flex-direction: column;
   flex-grow: 1;
  }
  
.section-class-head-photo{
   display: flex;
   flex-direction: column;
   align-items: center;
   background: url(https://img.freepik.com/premium-vector/blue-plastic-construction-block-plate-seamless-pattern-flat-design_87543-980.jpg?w=996);
  }
  
.details-image-head{
   width: var(--details-image-head-width);
   height: var(--details-image-head-height);
  }
  
.details-title-head{
   display: block;
   text-align: center;
   background-color: lightcyan;
   border: solid 2px black;
  }
  
.ul-class-list{
   display: flex;
   flex-wrap: wrap;
   max-height: 40vh;
   overflow-y: scroll;
   list-style: none;
   justify-content: space-around;
   padding-left: 0;
   margin: 0;
  }
  
.li-class-item{
   border: solid 2px black;
   margin-top: 2vh;
   border-radius: 25%;
   overflow: clip;
   background-color: white;
   min-height: calc(var(--item-img-height) + var(--items-title-height));
   max-width: var(--item-img-width);
   min-width: var(--item-img-width);
  }

.li-class-item:hover{
    transform: scale(1.1);
}
  
.anchor-class{
    text-decoration: none;
  }
  
.item-img{
   width: var(--item-img-width);
   height: var(--item-img-height);
   display: block;
  }
  
.items-title{
   display: block;
   text-align: center;
   text-decoration-color: black;
   height: var(--items-title-height);
  }
  
@media (min-width: 560px){

body{
   --item-img-width: 20vw;;
   --item-img-height: 13vw;
   --items-title-height: calc(var(--item-img-height) * 0.25);
   --details-image-head-width: 90%; 
   --details-image-head-height: 90%;
 }
.main-class{
flex-direction: row;
justify-content: space-around;
max-height: 46vw;
} 
.ul-class-list{
    order: -1;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 80vh;
    justify-content: flex-start;
    list-style: none;
    padding-left: 1.5vh;
    padding-right: 3vh;
    margin-top: 1vh;
    margin-bottom: 0;
    }

.li-class-item{
flex-direction: column;
flex-wrap: nowrap;
min-height: calc(var(--item-img-height) + var(--items-title-height) * 1.5);
max-width: var(--item-img-width) * 50;
min-width: var(--item-img-width) * 50;
    }

@media (min-width:1000px) {
.main-class{
 flex-direction: row;
 justify-content: space-around;
 background: url(https://img.freepik.com/premium-vector/blue-plastic-construction-block-plate-seamless-pattern-flat-design_87543-980.jpg?w=996);
 max-height: 50vw;
}

.section-class-head-photo{
    margin-top: 5vh;
    margin-right: 5vw;
}
        
.ul-class-list{
    margin-top: 2.5vh;
    max-height: 86vh;
}
.details-image-head{
        width: 90%;
        height: 90%;
}
  
.details-title-head{
     font-size: 175%;
}

.items-title{

  font-size: 150%;
}
  
  }