html{
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main-board-class{
    display: flex;
    flex-direction: column;
}

.sectyon-letters{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-letters{
    width: 5vw;
    height: 5vw;
    border: solid 1px gray;
    justify-content: center;
    font-size: 2vw;
    text-align: center;
}

.section-board{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.div-board{
    width: 5vw;
    height: 5vw;
    border: solid 1px gray;
    font-size: 2vw;
    text-align: center;
}

.div-board-white{
    width: 5vw;
    height: 5vw;
    border: solid 1px gray;
    background-color: white;
    font-size: 5vw;
    text-align: center;
}

.div-board-black{
    width: 5vw;
    height: 5vw;
    border: solid 1px gray;
    background-color: red;
    font-size: 5vw;
    text-align: center;
}